<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>

<div class="container">
    <h2 class="center-align">Validar Contrase침a</h2>

    <div class="row">
        <form id="passwordForm" class="col s12">
            <div class="input-field">
                <input type="password" id="password" class="validate" required autocomplete="off">
                <label for="password" class="active">Contrase침a</label>
            </div>
            <div class="input-field">
                <input type="password" id="confirmPassword" class="validate" required autocomplete="off">
                <label for="confirmPassword" class="active">Confirmar Contrase침a</label>
            </div>
            <p id="message" class="red-text center-align"></p>
            <div class="center-align">
                <button type="button" class="btn waves-effect waves-light" onclick="validatePassword()">VALIDAR</button>
            </div>
        </form>
    </div>
</div>

<!-- Enlace al script de validaci칩n -->
<script src="/js/validation.js"></script>

<%- include('includes/footer.ejs') %>
