<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Laboratorio 13</a>
        <ul class="left">
            <li><a href="/">Inicio</a></li>
            <li><a href="/mensajes/mensaje">Ver Mensaje</a></li>
            <li><a href="/password">Validar Contraseña</a></li>
        </ul>
    </div>
</nav>
