<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>

<h1>404 - Página no encontrada</h1>
<p>Lo sentimos, la página que buscas no existe.</p>

<%- include('includes/footer.ejs') %>
