<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>

<h1>Bienvenido a Laboratorio 12</h1>
<a href="/mensajes/mensaje" class="btn">Ver Mensaje Guardado</a>

<%- include('includes/footer.ejs') %>
