<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>

<div class="container">
    <h3>Mensaje Guardado</h3>
    <p class="card-panel teal lighten-4 black-text"><%= mensaje %></p>
</div>

<%- include('includes/footer.ejs') %>
