<!DOCTYPE html>
<html lang="es">
<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/navbar.ejs') %>

    <div class="container center-align">
        <h2>Error 404: Página no encontrada</h2>
        <a href="/" class="btn">Volver al inicio</a>
    </div>

    <%- include('includes/footer.ejs') %>
</body>
</html>
