<nav>
    <div class="nav-wrapper pink lighten-1">
        <a href="/" class="brand-logo center">Laboratorio 12</a>
        <ul id="nav-mobile" class="left">
            <li><a href="/">Inicio</a></li>
            <li><a href="/mensajes/mensaje">Ver Mensaje</a></li>
        </ul>
    </div>
</nav>
